<div class="form-group <%== error ? 'form-group-error' : '' %> form-group--<%= name %>">
	<label for="<%= name %>">
		<span class="form-label"><%= label %></span>
		<span class="form-hint"><%= hint %></span>
		<span class="error-message"><%= error %></span>
	</Label>
	<textarea class="form-control <%= error ? 'form-control-error' : '' %>" name="<%= name %>" id="textarea" rows="6" style="width:100%;"><%= value %></textarea>
</div>
