<% content_for :head do %>
	<title>Contact - <%= settings.title %></title>
<% end %>

<% content_for :breadcrumb do %>
	<%== erb :'partials/_breadcrumb', :locals => {name: 'Support', href: '/support'} %>
	<%== erb :'partials/_breadcrumb', :locals => {name: 'Contact', href: '/contact-us', active: true} %>
<% end %>

<div class="container">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">Contact us</h1>
			<% if @errors && @errors.size > 0 %>
				<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
					<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">There were problems submitting your request</h2>
					<ul class="error-summary-list">
						<% @errors.each do |field, errs| %>
							<% errs.each do |err| %>
								<li class="err"><a href="#" class="focus-field" data-field="<%= field.to_s %>"><%= err %></a></li>
							<% end %>
						<% end %>
					</ul>
				</div>
			<% end %>
			<form action="/contact-us" method="post">
				<%== erb :"partials/_input", :locals => {name: :person_name, label: 'Name', hint: '', value: params[:person_name], error: errors_for(@form, :person_name)} %>
				<%== erb :"partials/_input", :locals => {name: :person_email, label: 'Email address', hint: '', value: params[:person_email], error: errors_for(@form, :person_email)} %>
				<%== erb :"partials/_input", :locals => {name: :department_name, label: 'Department or agency', hint: '', value: params[:department_name], error: nil} %>
				<%== erb :"partials/_input", :locals => {name: :service_name, label: 'Service or team you work on', hint: '', value: params[:service_name], error: nil} %>
				<%== erb :"partials/_textarea", :locals => {name: :message, label: "Message", hint: '', value: params[:message], error: nil} %>
				<div class="form-group">
					<button id="contact-submit" class="button" type="submit">Submit enquiry</button>
				</div>
			</form>
		</div>
		<div class="column-one-third"></div>
	</div>
</div>
