<!DOCTYPE html>
<html>
<head>
	<%== yield_content :head %>

	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- <meta name="robots" content="noindex" /> -->

	<!--[if gt IE 8]><!--><link rel="stylesheet" href="<%= stylesheet_path('screen') %>" media="screen"><!--<![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="<%= stylesheet_path('screen-old-ie') %>" media="screen"><![endif]-->
	<link rel="stylesheet" href="<%= stylesheet_path('print') %>" media="print">

	<!--[if IE 8]><link rel="stylesheet" href="<%= stylesheet_path('fonts-ie8') %>" media="all"><![endif]-->
	<!--[if gte IE 9]><!--><link rel="stylesheet" href="<%= stylesheet_path('fonts') %>" media="all"><!--<![endif]-->

	<!--[if lt IE 9]><script src="<%= javascript_path('ie.js') %>" type="application/javascript"></script><![endif]-->

	<!-- Google Search Console ownership verification -->
	<meta name="google-site-verification" content="bt0R4mpQiVHhtm7Yi5-iLnXGfrBY8stKdtdo56G7DoI" />
</head>
<body>
	<a href="#main" class="skip-link">Skip to main content</a>

	<header class="header<% if request.path_info == '/' || not_found? %> header--without-border<% end %>">
		<div class="header__container">
			<div class="header__brand">
				<a href="/">
					<span class="govuk-logo">
						<img class="govuk-logo__printable-crown" src="/images/gov.uk_logotype_crown_invert_trans.png" height="32" width="36">
						GOV.UK
					</span>
					<span class="header__title">
						Platform as a Service
						<span class="phase-banner">Beta</span>
					</span>
				</a>
			</div>

			<input class="header__navigation-toggle-checkbox" type="checkbox" id="show-menu" aria-controls="navigation" aria-expanded="false" />
			<label class="header__navigation-toggle" for="show-menu">
				Menu
			</label>

			<nav id="navigation" class="header__navigation" aria-label="Top Level Navigation" aria-hidden="true">
				<ul>
					<% {
						'About' => '/',
						'Get started' => '/get-started',
						'Features' => '/features',
						'Documentation' => 'https://docs.cloud.service.gov.uk',
						'Support' => '/support'
					}.each do |title, url| %>
						<li<% if url == request.path_info %> class="active"<% end %>>
							<a href="<%= url == request.path_info ? "#main" : url %>">
								<%= title %>
							</a>
						</li>
					<% end %>
				</ul>
			</nav>
		</div>
	</header>

	<% if request.path_info != '/' %>
		<nav class="breadcrumbs" aria-label="Breadcrumbs">
			<ol itemscope itemtype="http://schema.org/BreadcrumbList">
				<li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a href="https://www.gov.uk/service-toolkit#components" itemprop="item">
						<span itemprop="name">Components</span>
					</a>
				</li>
				<li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a href="/" itemprop="item">
						<span itemprop="name">GOV.UK PaaS</span>
					</a>
				</li>
				<%== yield_content :breadcrumb %>
			</ol>
		</nav>
	<% end %>

	<main role="main" id="main">
		<%== yield %>
	</main>

	<footer class="group js-footer" id="footer" role="contentinfo">
		<div class="footer-wrapper">

			<div class="footer-meta">
				<div class="footer-meta-inner">
					<nav class="footer-nav">
						<ul>
							<li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a></li>
							<li><a href="/cookies">Cookies</a></li>
							<li><a href="/privacy-notice">Privacy notice</a></li>
						</ul>
					</nav>

					<div class="open-government-licence">
						<p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
						<p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
					</div>
				</div>

				<div class="copyright">
					<a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
				</div>
			</div>
		</div>
	</footer>
	<script src="<%= javascript_path('application') %>"></script>
</body>
</html>
